.my-container-fluid {
	display: flex;
	flex-direction: row;
	width: calc(100% - 85px);
	min-height: 100vh;
	margin-left: 85px;
	padding-left: 25px;
}

a {
	text-decoration: none;
}

.dashboard-content {
	padding: 20px 20px 0px 30px;
	flex: 1;
}

.published-courses-heading {
	padding: 30px 20px 20px 10px;
}

.courses-cards .card .card-header {
	padding-top: 150px;
}

.courses-cards .col {
	margin: 10px;
	width: 270px;
}